/Bülent_Hoca
/desktop.ini
/haritalaagr
/Kaggle.Proje-1-ODA_SINIFLANDIRMA
/KOORDİNATS.xlsx
/mertkaya
/Microsoft Edge.lnk
/RESİZED_ODALAR
/tapu.xlsx
/windows-kisayollari-1611667454420.png
/Yüksek lisans
/ıııı
/ŞİRKET